<html lang="en">
<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/nav.ejs") %>

            <div class="details content">
                <h2>
                    <%= blog.title %>
                </h2>
                <div class="content">
                    <p>
                        <%= blog.body %>
                    </p>
                </div>
                <a class="delete" data-doc="<%= blog._id %>">
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" />
                    </svg>
                </a>
            </div>

            <%- include("../partials/footer.ejs") %>

                <script>
                    const trashcan = document.querySelector('a.delete');
                    trashcan.addEventListener('click', (e) => {
                        const endpoint = `/blogs/${trashcan.dataset.doc}`;
                        fetch(endpoint, {
                            method: 'DELETE',
                        })
                            .then(response => response.json())
                            .then(data => window.location.href = data.redirect)
                            .catch(err => console.log(err));
                    });

                </script>
    </body>

</html>